:root{
  --primary: #D2AB67;
  --secondary: #7497B2;
  --text: #1B4645;
  --background: #75857F;
  --arimo: font-family: 'Arimo', sans-serif;
}
.mapa{
    border:0;
}
body {
  color: var(--text);
  margin: 0;
  padding: 0;
  font-family: 'Aleo', serif;
  /*background-image: url('https://cdn.pixabay.com/photo/2016/05/27/17/17/nut-1420234_960_720.png');*/
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: right top;
}

/*Navbar*/
.container-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
}
.container-navbar img{
  width: 50%;
}
@media (max-width: 980px) {
  .container-navbar{
    font-size: smaller;
  }
  .container-navbar img{
    width: 177px;
  }
}
.container-nav{
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: center;
  align-items: center;
}
.links{
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  text-align: center;
  padding: 10px;
  transition: 0.3s;
}
.links:hover{
  background-color: var(--primary);
}
.nav-toogle{
  display: none;
}
@media (max-width: 980px){
  .container-nav{
    padding-top: 15px;
    position: absolute;
    top: 60px;
    left: 0px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  .container-nav.open{
    transform: translateX(0)!important;
  }
  .nav-toogle{
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
  }
  .nav-toogle span{
    width: 30px;
    height: 4px;
    background: black;
    margin-bottom: 5px;
    border-radius: 2px;             
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
  .nav-toogle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav-toogle.open > span:nth-child(2){
    display: none;
  }
  .nav-toogle.open > span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}

/*Inicio*/
.inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cabecera{
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./assets/grupo2.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 980px) {
  .cabecera{
    background-position: center;
  }
}
.banner h5{
  font-weight: 1000;
  font-size: xx-large;
}
.info-evento{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border: solid var(--text);
  border-radius: 15px;
}
.info-evento-1{
  width: 400px;
}
.banner-info{
  width: 400px;
}
.agenda{
  width: 400px;
}

/*Contador*/
.contador{
  width: 100%;
  color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: solid;
  padding: 15px;
  font-family: 'Teko', sans-serif;
}
.contadores{
  width: 150px;
}
.valores{
  font-size: 70px;
  text-shadow: 2px 2px 5px var(--background);
}
.tiempos{
  font-size: 30px;
  text-shadow: 2px 2px 5px var(--background);
}
@media (max-width: 980px) {
  .valores{
    font-size: 50px;
  }
  .tiempos{
    font-size: 20px;
  }
  .contador{
    width: 90%;
    margin-left: 2%;
  }
}
/*Carrusel*/
.carrusel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
}
.tarjeta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tarjeta h2{
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 5px var(--background);
}
.tarjeta p{
  width: 90%;
}
.tarjeta h4{
  width: 90%;
}
.indicador{
  display: flex;
  flex-direction: row;
  align-items: center;
}
ion-icon{
  width: 50px;
  height: 50px;
}
.next{
  cursor: pointer;
}
.prev{
  cursor: pointer;
}
.swiper {
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: var(--primary);
}
.paginacion{
  display: flex;
}
.expositor{
  width: 120px;
  border-radius: 100px;
  box-shadow: 0px 5px 10px black;
}

/*Flyers*/
.flyer-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.flyer-card{
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Prefooter*/
.pre-footer{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  border: solid var(--text);
  background-color: var(--primary);
  border-radius: 15px;
  margin-bottom: 10px;
  gap: 15px;
}
.inscripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%px;
  background-color: #ffffff;
  border-radius: 15px;
}
.inscripcion img{
  width: 375px;
  border-radius: 15px;
}

/*Acerca de Nosotros*/
.acerca-nosotros{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acerca-nosotros h2{
  font-weight: 1000;
  font-size: xx-large;
}
.acerca-primero{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
}
.acerca-primero p{
  width: 350px;
}
.acerca-primero img{
  width: 400px;
}
.acerca1{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary);
  border: solid var(--text);
  border-radius: 15px;
  padding: 15px;
}
.acerca1 img{
  width: 500px;
}
.mision{
  width: 350px;
  text-align: left;
}
.vision{
  width: 350px;
  text-align: right;
}
.objetivo{
  width: 70%;
  text-align: center;
}
.valores-marca{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary);
  border: solid var(--text);
  border-radius: 15px;
}
.valores-marca h2{
  color: #e2dbdb;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
.cards p{
  width: 375px;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--primary);
  border: solid var(--text);
}

/*Contactanos*/
.contactanos{
  color: var(--text);
  font-family: var(--arimo);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.formulario{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  align-items: center;
  border: solid var(--text);
  border-radius: 15px;
  padding: 2%;
}
.formulario1, .formulario2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.formulario1 span{
  color: red;
}
.formulario2 span{
  color: red;
}
.label-mensaje{
  margin-top: 10px;
}
.label-mensaje span{
  color: red;
}
.elemento-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.contactanos textarea{
  width: 60%;
  resize: none;
  border-radius: 15px;
}
.btn-enviar{
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  width: 300px;
  border: 3px solid var(--primary);
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}
.btn-enviar::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  border-radius: 50%;
  background-color: var(--primary);
  z-index: 1;
  transition: all 0.6s ease;
}
.btn-enviar:hover:before{
  top: 0;
  border-radius: 0%;
}
.btn-enviar span{
  color: var(--text);
  position: relative;
  z-index: 2;
}

/*Agradecimientos*/
.agradecimiento{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.agradecimiento img{
  width: 700px;
}
@media (max-width: 980px){
  .agradecimiento{
    flex-direction: column;
  }
  .agradecimiento img{
    width: 500px;
  }
}